.button-container {
  text-align: right;
}

.marker {
  color: #C2C2C2;
  font-style: italic;
  text-align: right;
}

.description-container {
  margin-top: 1rem;

  .color-symbology {
    padding: 0;

    span {
      color: white;
      padding: 2px 10px;
    }
  }
}

.paragraph-container {
  margin-top: 2rem;
  padding-top: 1rem;

  .paragraph {
    background-color: #EFEFEF;
    margin-bottom: 2rem;
    padding: 0.4rem 0.7rem 0.5rem;
  }
}

.sentence {
  font-size: 0;
}

.token {
  cursor: crosshair;
  display: inline-block;
  font-size: 1rem;
  margin: 1px 0;
  padding: 0 2px 0 2px;
  position: relative;

  &.label-0,
  &.label-1,
  &.label-2,
  &.label-3,
  &.label-4,
  &.label-5,
  &.label-6,
  &.label-7,
  &.label-8,
  &.label-9 {
    color: #ffffff;
  }

  &:not(.label-0):not(.label-1):not(.label-2):not(.label-3):not(.label-4):not(.label-5):not(.label-6):not(.label-7):not(.label-8):not(.label-9):hover {
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #ffffff;
  }

  &.label-0 {
    background-color: #93B449;

    &.selected {
      background-color: #BEE85E;
    }
  }

  &.label-1 {
    background-color: #7A88A5;

    &.selected {
      background-color: #A4B7DE;
    }
  }

  &.label-2 {
    background-color: #EBAD2D;

    &.selected {
      background-color: #FFCD64;
    }
  }

  &.label-3 {
    background-color: #BF3865;

    &.selected {
      background-color: #FF4A87;
    }
  }

  &.label-4 {
    background-color: #AA40BA;

    &.selected {
      background-color: #D38FE8;
    }
  }

  &.label-5 {
    background-color: #5A3DD1;

    &.selected {
      background-color: #8b71f5;
    }
  }

  &.label-6 {
    background-color: #389AAD;

    &.selected {
      background-color: #69C6D9;
    }
  }

  &.label-7 {
    background-color: #38A678;

    &.selected {
      background-color: #56D4A2;
    }
  }

  &.label-8 {
    background-color: #28A122;

    &.selected {
      background-color: #64E35F;
    }
  }

  &.label-9 {
    background-color: #C4B234;

    &.selected {
      background-color: #e3d36f;
    }
  }

  &.left-end {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 4px;
    padding-left: 5px;
  }

  &.right-end {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 4px;
    padding-right: 5px;
  }

  .chunk-size-handle-left,
  .chunk-size-handle-right {
    background-color: #ffffff;
    cursor: ew-resize;
    position: absolute;
    top: calc(50% - 3px);
  }

  &.selected {
    border-top: 1px solid #f03232;
    border-bottom: 1px solid #f03232;
    margin-bottom: 0;
    margin-top: 0;

    &.left-end {
      border-left: 1px solid #f03232;
      margin-left: 3px;

      .chunk-size-handle-left {
        border: 1px solid #8a8a8a;
        height: 7px;
        left: -4px;
        width: 7px;
      }
    }

    &.right-end {
      border-right: 1px solid #f03232;
      margin-right: 3px;

      .chunk-size-handle-right {
        border: 1px solid #8a8a8a;
        height: 7px;
        right: -4px;
        width: 7px;
      }
    }
  }
}

.label-set {
  .token {
    cursor: pointer;
  }
}
